@model entityModels.Cliente




@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-md-12">

      
                <label>Descripcion</label>
                 <input type="text" name="v_Cliente" class="form-control" />
            <input type="submit" class="btn btn-success btn-success" value="Exportar a Excel" />

        </div>

       


    </div>
   




}